{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
            
                <p>This came from the template {{index .StringMap "test"}}</p>
                <p>
                    {{if ne (index .StringMap "remote-ip") ""}}
                        Your IP Address is {{index .StringMap "remote-ip"}}
                    {{else}}
                        I don't know your ip address. Visit the <a href="/">Home Page</a>
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}